/* Generic */
body,
figure {
    margin: 0;
}

/* Header */
header {
    padding: 24px 0;
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-size: 310px;
}

.logo {
    width: 200px;
}

/* Article Title */
.title {
    margin-bottom: 4px;
    font-size: 40px;
}

/* Article Meta */
.meta-container {
    margin-bottom: 12px;
}

.meta-container p {
    margin: 4px 0;
    color: #808080;
}

.meta-container .author {
    color: #4ea0ff;
    text-decoration: none;
}

.meta-container .date {
    font-size: 0.8rem;
}


/* Utils */
.container {
    max-width: 1080px;
    margin: 0 auto;
}